.content p, h1{
    font-family: FutuRound;
}
.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 200px;
} 
aside{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
#day-quote{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: -6px;
    text-shadow: white 0px 1px 0px;
}  
article{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(209,132,96,1) 0%, rgba(244,192,141,1) 100%);
    margin: 0 30px 50px 30px;
    font-size: 25px;
    color: white;
}
.name-scroll-block{
    margin: 30px auto 10px auto;
}
.horizontal-scroll-block{
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height: 360px;
    margin: 0 0 20px 0;
}
.scroll-elements
{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;
    width: 155px;
    margin: 0 auto;
}
.element
{
    width: 155px;
    height: 330px;
    text-align: center;
    transition:all 0.2s ease;
    border-radius: 20px;
    white-space: pre-line;
    margin: 0 15px 0 0;
    box-sizing: border-box;
    font-size: 17px;
}
.scroll-element img{
    width: 155px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.element:hover{
    transform: scale(0.9);
}
@media screen and (min-width: 576px){
    .scroll-elements{
    margin: 0 0 0 30px;
    }
    .name-scroll-block{
        margin: 30px 0 10px 30px;
    }
}
@media screen and (min-width: 992px){
    .scroll-elements
    {
        width: 170px;
        height: 190px;
    }
    .element
    {
        width: 170px;
        height: 340px;
    }
    .scroll-element img{
        width: 170px;
        height: 266px;
    }
}