@font-face{
    font-family: Argenta;
    src:url(../fonts/Argenta.otf);
}
@font-face{
    font-family: FutuRound;
    src:url(../fonts/a_futuraround.ttf);
}
header a, ul li, footer{
    font-family: Argenta, sans-serif;
}
p, span{
    font-family: FutuRound, sans-serif;
}
a {
    text-decoration: none;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header {
    height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
}
#sp{
    margin-top: 26px;
    width: 48px;
	display: flex;
}
.header-text {
    margin: 23px 0 0 20px;
    height: fit-content;
	display: flex;
	flex-direction: column;
}
header a {
    max-height: 48px;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
}
hr {
    margin: 0;
    padding-bottom: 30px;
    border: none;
    width: 100%;
    background: rgb(154,154,154);
    background: linear-gradient(180deg, rgba(154,154,154,1) 0%, rgba(255,255,255,0) 41%);
}
ul {
    margin: 0 0 30px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
li{
    transition: all 0.2s ease;
    margin: 5px auto;
    width: fit-content;
    font-size: 21px;
}
li a{
    color: black;
    transition:all 0.3s ease;
}
li:hover{
    transform: scale(0.9);
  }
li:hover a{
    color:rgb(167, 102, 72);
}
.content{
    flex: 1 0 auto;
}
.content a{
    color: black;
}
footer {
    color:rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(209,132,96,1) 0%, rgba(244,192,141,1) 100%);
    padding: 3px 0;
    margin-top: 30px;
    text-align: center;
    flex: 0 0 auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0.6;
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(209, 132, 96, 0.534);
}
::-webkit-scrollbar-thumb:hover
{
    background: rgb(209, 132, 96);
}
@media screen and (min-width: 576px){
    header {
        height: 125px;
        min-height: 125px;
    }
    #sp{
        width: 63px;
        margin-top: 30px;
    }
    .header-text {
        margin-top: 23px;
        margin-left: 20px;
    }
    header a {
        max-height: 63px;
        font-size: 30px;
    }
    ul {
        flex-direction: row;
        justify-content: center;
    }
        li {
        margin: 0 0 0 20px;
    }
}